.containerOpc{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
    
}

.redirVist{
    height: 5vh;
    width: 90%;
    border: 2px solid #FF7F32;
    border-radius:10px;
    align-self: center;
    margin-top: 1vh;
    font-size: auto;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.links{
    text-decoration: none;
    color: black;
}

.links:hover{
    color: white;
}

.redirVist:hover{
    background-color: #FF7F32;
    color: white;
}

.naVigate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
