.pay_Form{
    border: 2px solid #FF7F32;
    width: 80%;
    height: 70vh;
    margin-top: 13%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 4s;
}

.containerFormPay{
    
}

@media screen and (min-width:500px){
    .pay_Form{
        margin-top: 6%;
        width: 30%;
        margin-left: 35%;
        position: absolute;
        z-index: 0;

    }
}
.pay{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.containerInputs2{
    display: flex;
    justify-content:space-between;
}

.containerInputs3{
    display: flex;
    justify-content:space-between;
}

.containerFormPay{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width:500px){
    .containerInputs2{
        gap: 20px;
    }
}

@media screen and (min-width:500px){
    .containerInputs3{
        gap: 20px;
    }
}

.titlePay{
    position:relative;
    top: -6vh;
}
.btnClose{
    position: relative;
    top:-4vh;
    left:26vw;
}


.radio{
    display: flex;
    gap: 1vh;
    margin-left: 2vh;
    align-items: center;
}

input[type="radio"]{
    appearance: none;
    background-color: white;
    height: 2.2vh;
    width: 2.2vh;
    border: .2vh solid #FF7F32;
    border-radius: 30px;
    cursor: pointer;
}

input[type="radio"]:checked{
    background-image: radial-gradient(darkorange 0%, darkorange 50%, transparent 50%, transparent );
    color: #FF7F32;
}